*{
    /* width: 100%; */
    font-family:'poppins';
    margin: 0;
}

header{
    display: flex;
    background-color: #0077B6;
    height: 82px;
    padding-left: 51px;
    padding-right: 51px;
}

.top-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.features{
    width: 411px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
}

.features a{
    text-decoration: none;
    color: white;
}

.button{
    background-color: #0077B6;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    
    background-color: #ADB5DB;
    /* color: black; */
    box-shadow: 2px 4px #856c6c88;
    transition: 0.5s;
}

.user{
    width: 193px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.user a{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-decoration: none;
}

#register{
    background-color: #4CAF50;
    width: 69px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
}

.user img{
    width: 40px;
    height: 40px;
}

#logo{
    width: 131px;
    height: 70px;
}

/* dashboard sytle section */

.notif{
    width: 1084px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    background-color: #d9d9d9;
    margin-top: 38px;
    margin-right: 73px;
    margin-left: 73px;
    padding-left: 44px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
    border-radius: 10px;
}

.notif p{
    margin-top: auto;
    margin-bottom: auto;
}

.notif img{
    width: 15.7px;
    height: 19.6px;
    margin-top: auto;
    margin-bottom: auto;
}

.divider{
    display: flex;
    margin-top: 38px;
    margin-left: 73px;
    margin-right: 73px;
}

.title{
    margin-left: 29px;
    margin-right: 29px;
    font-size: 24px;
    font-weight: 700;
}

.line{
    flex: 1;
    height: 1px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Input style section */

.input-title{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 27px;
    font-size: 24px;
}

.forms{
    width: 1142px;
    height: 485px;
    background-color: #d9d9d9;
    border-radius: 15px;
    display: flex;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.left-form{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 48px;
    margin-right: 140px;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.input-box input{
    width: 499px;
    border: none;
    border-radius: 10px;
    height: 37px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-box label{
    margin-bottom: 1px;
    font-weight: 600;
}

.radio-label{
    font-weight: 600;
}

.option{
    margin-bottom: 14px;
}

.option label{
    margin-right: 21px;
}

#payment-method{
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 37px;
    padding-left: 23px;
    font-size: 16px;
}

.right-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.upload-box{
    width: 375px;
    height: 358px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-style: dotted;
    cursor: pointer;
}

.upload-box img{
    width: 125px;
    height: 125px;
}

.upload-box label{
    font-size: 20px;
    font-weight: 600;
}

.buttons{
    width: 423px;
    height: 50px;
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 203px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.buttons button:hover{

}

.cancel{
    background-color: #E53935;
    color: white;
}

.cancel:hover{
    background-color: #ba312f;
    transition: 0.3s;
}

.upload{
    background-color: #4CAF50;
    color: white;
}

.upload:hover{
    background-color: #3f8f41;
    transition: 0.3s;
}